@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.fontSora{
    font-family: "Sora", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.boxShadow{
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 16px;
background: url(2);
background: rgba(8, 133, 116, 0.384);
}